<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
</head>
<body>

    <h2>Welcome {{ username }}</h2>
    <h3>Mark Today's Attendance</h3>
    
    <form method="POST" action="/mark_attendance">

        {% for student in students %}
        <p>
            {{ student[1] }}
            <input type="checkbox" name="present" value="{{ student[0] }}">
        </p>
    {% endfor %}

    <button type="submit">Submmit Attendance</button>
</form>

<a href="/view_attendance">View Attendance</a>
<br><br>
<a href="/logout">Logout</a>


    <a href="/logout">Logout</a>

</body>
</html>
